*{
/*     box-sizing: border-box; */
/*     padding: 0; */
    margin: 0;
    text-align: center;
    button{
        cursor: pointer;
    }
    list-style: none;
    text-decoration: none;

}
body{
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 10px;
    background-image: url("../img/bg-red.png");
    background-position-x: 0px;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:100% 100%;
    position: relative;
    transition: background 0.5s ease-in;
    &::after{
        content: '';
        background-image: url("../img/bg-blue.png");
        width: 100%;
        height: var(--after-bg-height);
        position: absolute;
        right: 0;
        top: 0;
        z-index: -999;
        background-position-x: 0px;
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-size:100% 100%;
    }
    // animation-name: backgroundChange;
    // animation-duration: 10s;
    // animation-iteration-count: infinite;
    // animation-timing-function:linear;
    // transition: background 0.5s ease-in;
    // background-image: -webkit-cross-fade(url("../img/bg03.jpg"),url("https://github.com/DLIN131/DLIN131.github.io/img/bg04.jpg"));
}
.bg01{
    background-image: url("../img/bg01.png");
    background-position-x: 0px;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:100% 100%;
    animation-name: backgroundChange;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
    transition: background 0.5s ease-in;
}
.bg02{
    background-image: url("../img/bg02.png");
    background-position-x: 0px;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:100% 100%;
    animation-name: backgroundChange;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
    transition: background 0.5s ease-in;
}
.bg03{
    background-image: url("../img/bg03.jpg");
    background-position-x: 0px;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:100% 100%;
    animation-name: backgroundChange;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
    transition: background 0.5s ease-in;
}
.bg04{
    background-image: url("../img/bg04.jpg");
    background-position-x: 0px;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:100% 100%;
    animation-name: backgroundChange;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
    transition: background 0.5s ease-in;
}
.bg-red{
    background-image: url("../img/bg-red.png");
    width: 100%;
    height: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -999;
    background-position-x: 0px;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:100% 100%;
}
// @keyframes backgroundChange{
//     25%{
//         // background-image: url("../img/bg02.png");
//         background-position-x: -2560px;
//     }
//     50%{
//         // background-image: url("../img/bg03.jpg");
//         background-position-x: -5120px;

//     }
//     75%{
//         // background-image: url("../img/bg04.jpg");
//         background-position-x:100%; 

//     }
//     // 100%{
//     //     // background-image: url("../img/bg01.png");
//     //     background-position-x: 0px;

//     // }
//     // from{
//     //     background-position-x:0%;
//     // }
//     // to{
//     //     background-position-x: 100%;
//     // }
// }
.nav-bar{
    width: 100%;
    height: 5vh;
    line-height: 5vh;
    background-color: rgba(77, 248, 191,0.5);
    display: none;
    justify-content: center;
    font-size: 2rem;
   &>.nav-item{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    &>a{
        color: #070a27;
    }
   }
}


.listIdHistory{
    // position: absolute;
    // left: 4vmin;
    width: 200px;
    height: 50px;
    display: flex;
    border-radius: 10px;
    justify-content: space-around;
    flex-flow: column;
    color: aliceblue;
    background-color: rgb(3, 19, 19);
}

#put-playlist{
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin: 3vmin;
    // background:linear-gradient(rgb(0, 0, 0)  ,rgba(255,255,255) );
    #playlist-url{
        width: 25rem;
        height: 2rem;
    }
    #search{
        width: 10rem;
        height: 2rem;
        margin-top: 1vmin;
        background-color: #070a27;
        font-size: 1.1rem;
        box-shadow: 2px 1px 5px black;
        border: 2px solid rgb(250, 248, 248);
        border-radius: 10px;
        cursor: pointer;
        color: rgb(255, 255, 255);
        // filter: invert(50%);
    }
    #load-img{
        display: none;
        img{
            width: 30px;
            height: 30px;              
        }
    }
}

#player{
    display: none;
}
#checkDisplayPlayer + span{
    color: aliceblue;
}
#checkDisplayPlayer:checked  ~ #player{
    display: inline-block ; 
}

.progress-area{
    
    width: 350px;
    height: 20px;
    font-size: 5px;
    background-color: rgb(197, 192, 192);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .progress-bar{
        width: 250px;
        height: 5px;
        transition: 0.3s;
        background-color: #f1e6d4;
        position: relative;
        cursor: pointer;
        &:hover{
            height: 7px;
        }
        .progress{
            position: absolute;
            height: 100%;
            background: linear-gradient(to right, #eb7474, #2f2ff0, rgb(21, 228, 243));;
            left: 0;
            top: 0;
            width: 0;
        }
    }
}

#video-title{
    width: 40rem;
    // display: block;
    margin: 0 auto;
    // background: linear-gradient(#f8d7d7, #737cdb);
    background: none;
    // height: 50vh;
    &>option{
        height: 50px;
        width: 70%;
        border: 3px solid black;
        border-bottom: none;
        // border-radius: 20px;
        // border-top-left-radius: 40px;
        border-bottom-right-radius: 40px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        // background:linear-gradient(rgb(44, 245, 195) 80%, hwb(0 3% 97%));
        // background:linear-gradient(rgb(255, 255, 255) 80%, hwb(0 73% 27%));
        background:linear-gradient(to bottom, rgba(255, 255, 255,.9) 80%,rgba(102, 102, 102, 0.5) 20%);
        margin: 0 auto;
        text-align: center;
        transition: 0.3s;
        cursor: pointer;
        font-size: 15px;
        font-weight: 800;
        overflow: hidden;
        text-overflow:ellipsis;
        padding-top: 5px;
        &:hover{
            background:linear-gradient(to bottom, rgba(102, 102, 102,.9) 80%,rgba(255, 255, 255, 0.5) 20%);
            // color: white;
            width: 80%;
            font-size: 20px;
        }
    }
}
.option-background{
    background:linear-gradient(to bottom, rgba(255, 255, 255,.9) 80%,rgba(102, 102, 102, 0.5) 20%);
}
.option-focus-background{
    background:linear-gradient(to bottom, rgba(102, 102, 102,.9) 80%,rgba(255, 255, 255, 0.5) 20%) !important;
}

#button-area{
    margin: 10px;
    &>button{
        background-color: #ee49729a;
        color: rgb(255, 255, 255);
        width: 6rem;
        height: 30px;
        font-size: 15px;
        font-weight: 600;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        // display: none;
        &:hover{
            color: rgb(67, 231, 103);
        }
        &::before{
            content: '';
            position: absolute;
            width: 40px;
            height: 45px;
            background-color: #070a27;
            bottom: 0;
            top: -10px;
            left: -45px;
            transform: rotate(10deg);
            transition: 0.2s;
            z-index: -1;
        }
        &:after{
            content: '';
            position: absolute;
            width: 40px;
            height: 45px;
            background-color: #070a27;
            bottom: 0;
            top: -10px;
            right: -45px;
            transform: rotate(10deg);
            transition: 0.2s;
            z-index: -1;
        }
        &:hover::before {
            left: -5px;
        }
        &:hover::after {
            right: -5px;
        }
    }
    &>input{
        border-radius: 2rem;
        height: 1.5rem;
    }
}

#prevImg{
    position: fixed;
    left: 0;
    top: 50%;
    width: 2rem;
    height: 5rem;
    background-color: rgba(193, 248, 248,0.3);
    text-align: center;
    line-height: 5rem;
    font-size: 2rem;
    font-weight: 900;
    cursor: pointer;
}
#nextImg{
    position: fixed;
    right: 0;
    top: 50%;
    width: 2rem;
    height: 5rem;
    background-color: rgba(193, 248, 248,0.3);
    text-align: center;
    line-height: 5rem;
    font-size: 2rem;
    font-weight: 900;
    cursor: pointer;
}

.live2d-area{
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    width: 300px;
    height: 300px;
    z-index: -10;
}

@media screen and (max-width: 450px){
    #put-playlist {
        width: auto;
        display: flex ; 
        flex-flow: column;
        align-items: center;
        justify-content:space-evenly;
        gap: 0.25rem;
        .listIdHistory{
            position: relative;
            margin-top: 4rem;
            left: 0;
        }
        #playlist-url{
            width: 20rem;
            height: 2rem;
        }
    }
    #checkDisplayPlayer,#checkDisplayPlayer + span{
        display: none;
    }
    #player{
        margin-top: 5rem;
        width: 80%;
        height: 30vh;
    }
    #video-title{
        width: 80%;
        // height: 50vh;
        // &>option{
        //     height: 10%;
        // }
    }

    .live2d-area{
        display: none;
    }
}
